# Spotify API
SPOTIFY_CLIENT_ID=your_client_id
SPOTIFY_CLIENT_SECRET=your_client_secret

# App paths
DOWNLOAD_PATH=~/Music/Sunnify
CONFIG_FILE=~/.config/sunnify/config.json

# Server
DEBUG=true
LOG_LEVEL=info
